.editorconfig
.idea_modules/
*.iml
.idea/
*.ipr
*.iws
.git
.air.conf
AUTHORS.md
CONTRIBUTING.md
LICENSE
Makefile
NOTICE
README.md
arm/
powerpc/
mips/
data/
postman-collection/
tmp/
images/
/out/
# Binaries, plugins, libs
*.dll
*.dylib
*.exe
*.exe~
*.so
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
*.test
*.tmp
logs
*.log
pids
*.pid
*.seed